.calendar{

  width: 100%;

}

.date{

  font-style: italic;
  font-weight: 500;

}

.due{

 /* width: 200px;*/
  /*border: solid black 1px;*/
  border-radius: 5px;
  /*float: right;*/
  /*padding-left: 5px;*/

}

.dueStuff{

  border-radius: 5px;
  /*border: solid red 1px;*/
  margin-left: 0.5em;

}

.cover{

  /*width: 200px;*/
  /*border: solid black 1px;*/
  border-radius: 5px;
 /* float: right;*/

}

.coverStuff{

  border-radius: 5px;
  margin-left: 0.5em;

}

.assigned{

  border-radius: 5px;

}

.assignedStuff{

  border-radius: 5px;
  margin-left: 0.5em;

}

td{

  width: 50%! important;
  /*border: solid red 1px;*/
  display: table-cell;
  vertical-align: top;  

}

ul{

  /*border: solid black 1px; */

}

div{


}



.announce{

  margin: 0em 2.0em .25em 0em;
  border-radius: 5px;
}