/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.nice-header {
  position: relative;
  opacity: 1.0;
  z-index: -1;
}

.header-overlay {
  position: absolute;
  opacity: 0.0;
  z-index: 0;
}

.oldMan{

  font-family: OldManEloquentW01-Reg;
}

@font-face {
  font-family: 'BenjaminFranklin';
  src: url('../css/Benjamin-Franklin.ttf.eot');
  src: url("../css/Benjamin-Franklin.ttf.woff") format("woff"),
    url("../css/Benjamin-Franklin.ttf.svg") format("svg");
}



.parchment1{

  background-image: url("../img/paper3.jpg");
  background-size: cover;

}

.parchment2{

  background-image: url("../img/longCover06.jpg");
  background-size: 100%;
  background-repeat: repeat;

}

.ike:hover {
    cursor:pointer;
}

.parallax1 {


    /*bottom: 25%;*/
}



nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}