/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.nice-header {
  position: relative;
  opacity: 1.0;
  z-index: -1;
}

.header-overlay {
  position: absolute;
  opacity: 0.0;
  z-index: 0;
  opacity: 0.0;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;
}

.oldMan{

  font-family: OldManEloquentW01-Reg;
}

.marqueeDiv{

    width: 80%; 
    height: 80px;
    margin: 0 auto;
    /*border: solid black 1px;*/
    

}

.submarquee{

  font-style: italic;

}

.marqueeLi{

  
  padding: 5px;
  width: 60px;
  height: 50px;
  margin: 5px;
  
  line-height: 50px;
  color: black;
  font-weight: 300px;
  font-size: 4em;
  text-align: center; 

}

h1.marqueeLi{

  display: inline-block;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.space-between { 
  -webkit-justify-content: space-between; 
  justify-content: space-between; 
}  
.space-between li {
  /*background: lightgreen;*/
}

.marqueeH1{

    width: 100%;
    display: inline;
    text-justify: inter-word;
}

.marqueeSpan{


  
  font-size: 30px;

}



#droplet{

  position: absolute; 
  z-index: 2;
  left: 69%;
  top:-40%;
  /*transform: translateX(76.5%);*/
  /*transform: translateY(550%);*/
  /*transform: translate(76.5%,-600%);*/


}

@font-face {
  font-family: 'BenjaminFranklin';
  src: url('../css/Benjamin-Franklin.ttf.eot');
  src: url("../css/Benjamin-Franklin.ttf.woff") format("woff"),
    url("../css/Benjamin-Franklin.ttf.svg") format("svg");
}



.parchment1{

  background-image: url("../img/top07.jpg");
  background-size: 100%;

}

.parchment2{

  background-image: url("../img/longCover15.jpg");
  background-size: 100%;
  background-repeat: repeat;

}

.parchment3{

  background-image: url("../img/bottom04.jpg");
  background-size: 100%;
  background-position: bottom;

}

.ike:hover {
    cursor:pointer;
}

.parallax1 {


    /*bottom: 25%;*/
}

.hiddenClass{

  opacity: 0;

}

.linkClass {
  color: #000;
  transition: background 0.16s linear;
}


.linkClass:hover {

  background-color: #eee;
  cursor:pointer;

}

/*.rose {
    opacity: 0.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.rose:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​*/

.appears{

  opacity: 1.0;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;

}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}