

body{

	font-family: BenjaminFranklin;
	background-image: url("../img/longCover15.jpg");
  	background-size: 100%;
  	background-repeat: repeat;

}

@font-face {
  font-family: 'BenjaminFranklin';
  src: url('../css/Benjamin-Franklin.ttf.eot');
  src: url("../css/Benjamin-Franklin.ttf.woff") format("woff"),
    url("../css/Benjamin-Franklin.ttf.svg") format("svg");
}

nav{

  background-image: url("../img/top25.jpg");
  background-size: 100%;

}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.header-overlay {
  position: absolute;
  opacity: 0.0;
  z-index: 0;
  opacity: 0.0;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;
}

.nice-header {
  position: relative;
  opacity: 1.0;
  z-index: -1;
}


.linkClass {
  color: #000;
  transition: background 0.16s linear;
}


.linkClass:hover {

  background-color: #eee;
  cursor:pointer;

}

.appears{

  opacity: 1.0;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;

}

.ike:hover {
    cursor:pointer;
}

.myLogo{

	font-size: 1.8rem! important;

}

.franklin{
	position: absolute; 
	z-index: 3;
	height: 40%;
	width: 30%;
	min-width: 150px;
	/*outline: solid black 1px;*/
	background-image: url("../img/franklin01.png");
	background-size: contain;
	background-position: left top ;
	background-repeat: no-repeat;
	left: 5%;
	top: 10%;
}

.period{
	display: initial;
}

.wrapper{

	width: 100%;
	border: solid blue 1px;
	height: auto;
	min-height: 5em;
	margin: 0 auto;
	overflow: hidden;
}

.marqueeContainer{
    width: 80%; 
    min-height: 4.5em;
    margin-left: 2em;
    /*outline: solid black 1px;*/
}

.daniel{
	width: 39%;
	/*border: solid blue 1px;*/
	float: left;
	margin-top: 1.5em;
}

.space{
	font-size: 4em;
	float: left;
	display: block;
	min-width: 5px;
}

.juncos{
	width: 39%;
	/*border: solid green 1px;
*/	float: right;
	display: inline-block;
	margin-top: 1.5em;
}




.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.space-between { 
  -webkit-justify-content: space-between; 
  justify-content: space-between; 
} 

.marqueeLi{
  padding: 5px;
  width: 60px;
  height: 50px;
  margin: 5px;
  
  line-height: 50px;
  color: black;
  font-weight: 300px;
  font-size: 4em;
  text-align: center; 
 /* outline: solid red 1px;*/
}

.lineMobile{

	display: none;
}

.submarqueeMobile{

	display: none;
}

.lineClass{

}

.nonMobileClass{

	display: initial;
}

.mobileClass{

	display: none;
}
.mobileRow{

	width: 49%;
	/*outline: solid black 1px;*/
	height: 19em;
	display: inline-block;
}

.cardFont{

	font-size: 1.4em;
}

.submarquee{

   font-style: italic;
   outline: solid red 1px;
   display: inline-block;
   width: 100%;



}

.blurb{

	border: solid transparent 1px;
	display: inline-block;
	border: solid white 1px;
}

.eight{
	display: none;
}
.nine{
	display: none;
}
.eleven{
	display: none;
}
.original{
	display: block;
}
.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.wheelClass{
	font-size: 140%;
	margin-left: -.4em! important;
}

@media screen and (max-width: 1100px) {
	.franklin{
		height: 35%;
	}
	.wrapper{

	}
  	.marqueeLi{
	  font-size: 3em; 
	}
	.submarquee{

	  height: 100px;
	  position: relative;
	  display: inline-block;

	}
	.blurb{
		border: solid transparent 1px;
		display: inline-block;
		position: relative;
		border: solid white 1px;
	}
	.lineClass{
		width: 80%;
	}
	.eight{
		display: none;
	}
	.nine{
		display: none;
	}
	.eleven{
		display: block;
	}
	.original{
		display: none;
	}
	.nice-header{
		width: 120%;
	}
	.header-overlay{
		width: 120%;
	}
	.parallax-container {
	  min-height: 500px;
	}
	.wheelClass{
	  font-size: 120%;
	  margin-right: -.8em! important;
	}

}

@media screen and (max-width: 900px) {
  	.marqueeLi{
	  font-size: 2.85em; 
	}
	.submarquee{
	  height: 70px;
	}
	.lineClass{
		width: 60%;
	}
	.eight{
		display: none;
	}
	.nine{
		display: block;
	}
	.eleven{
		display: none;
	}
	.original{
		display: none;
	}
	.parallax-container .section {
	    position: absolute;
	    top: 40%;
	  }
	#index-banner .section {
	    top: 10%;
	  }
	.parallax-container {
	  min-height: 410px;
	}
	.cardFont{
		font-size: 1.1em;
	}
}

@media screen and (max-width: 800px) {
	.container{
		overflow: hidden; 
	}
	.nonMobileClass{
		display: none;
	}
	.mobileClass{
		display: initial;
	}
	.franklin{
		min-width: 200px;
	}
   	.daniel { 
	    margin-right:0;
	    margin-top: 0;
	    display: inline; 
  	}
  	.space{
		font-size: 2em;
		float: left;
		display: block;
		min-width: 5px;
	}
  	.juncos { 
	    float: left;
	    clear: left;
	    margin-top: 0;
  	}
  	.marqueeLi{
	  font-size: 3em;
	  padding: 1px;
	  width: 40px;
	  height: 40px;
	  margin: 1px; 
	  line-height: 20px;
	  /*border: solid yellow 1px;*/
	}

	.wrapper{

		width: 90%;
	 
	}
	.marqueeContainer{

		border: solid green 1px;
		/*border: solid transparent 1px;*/
		width: auto;
		height: 200px;
		margin-top: 5%;
		margin-left: 40%;
	}
	.submarqueeMobile{
		display: block;
		border: solid orange 1px;
		height: 65%;
		margin-top: 85px;
	}
	.lineMobile{
		display: block;
		border: solid red 1px;
		height: 30%;
		width: 14.5em;
	}

	.lineClass{
		display: none;
	}
	.submarquee{
		display: none;
	}
	.parallax-container{

		display: none;
	}

	.eight{
		display: block;
	}
	.nine{
		display: none;
	}
	.eleven{
		display: none;
	}
	.original{
		display: none;
	}
	.card{

		width: 40%;
		height: auto;
		left: 2em;
	}
	.porto{

		display: none;
	}
}

